<app-navbar></app-navbar>

<div class="container">
  <div class="d-flex justify-content-between mt-4">
    <h3>Matches</h3>
    <form class="d-flex mb-4 col-sm-3" role="search">
      <input
        class="form-control me-2"
        type="search"
        placeholder="Pesquisar"
        aria-label="Pesquisar"
      />
      <button class="btn btn-outline-primary" type="submit">Pesquisar</button>
    </form>
  </div>

  <!-- <div class="card mb-4">
    <div
      *ngFor="let pessoa of listaPessoas$ | async"
      class="card-body align-items-center"
    >
      <div class="d-flex justify-content-between">
        <div>
          <h4>{{ pessoa.nomePessoa }}</h4>
          <p *ngFor="let caracteristica of listaCaract$ | async">
            {{ pessoa.caracteristicasPessoa }}
          </p>
        </div>
        <div class="align-items-center">
          <h5>Match</h5>
          <h6>100%</h6>
        </div>
      </div>
    </div>
  </div>
</div> -->

  <div class="card mb-4">
    <div class="card-body align-items-center">
      <div class="d-flex justify-content-between">
        <div>
          <h4>João Silva</h4>
          <p>Hard Skills: HTML, CSS, Bootstrap, Java, JavaScript</p>
          <p>
            Soft Skills: Comunicação, Criatividade, Inteligência Emocional,
            Trabalho em equipe, Trabalhar sob pressão
          </p>
          <p>Curso: +Devs2Blu</p>
        </div>
        <div class="align-items-center">
          <h5>Match</h5>
          <h3>100%</h3>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-4">
    <div class="card-body align-items-center">
      <div class="d-flex justify-content-between">
        <div>
          <h4>Yuri Koller Borba</h4>
          <p>Hard Skills: HTML, CSS, Java</p>
          <p>
            Soft Skills: Criatividade, Trabalho em equipe, Inteligência
            Emocional, Organização
          </p>
          <p>Curso: +Devs2Blu</p>
        </div>
        <div class="align-items-center">
          <h5>Match</h5>
          <h3>87%</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-4">
    <div class="card-body align-items-center">
      <div class="d-flex justify-content-between">
        <div>
          <h4>Maria Rosalina</h4>
          <p>Hard Skills: HTML, CSS</p>
          <p>
            Soft Skills: Trabalho em equipe, Inteligência Emocional, Organização
          </p>
          <p>Curso: +Devs2Blu</p>
        </div>
        <div class="align-items-center">
          <h5>Match</h5>
          <h3>65%</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-4">
    <div class="card-body align-items-center">
      <div class="d-flex justify-content-between">
        <div>
          <h4>Fernando Alves</h4>
          <p>Hard Skills: Java</p>
          <p>Soft Skills: Trabalho em equipe, Inteligência Emocional</p>
          <p>Curso: +Devs2Blu</p>
        </div>
        <div class="align-items-center">
          <h5>Match</h5>
          <h3>55%</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-4">
    <div class="card-body align-items-center">
      <div class="d-flex justify-content-between">
        <div>
          <h4>Cecília Rodrigues</h4>
          <p>Hard Skills: HTML</p>
          <p>Soft Skills: Trabalho em equipe</p>
          <p>Curso: +Devs2Blu</p>
        </div>
        <div class="align-items-center">
          <h5>Match</h5>
          <h3>25%</h3>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="config-footer">
  <app-footer></app-footer>
</div>
